import("clue", "slam")
importFrom("cluster", "silhouette")

export("skmeans", "skmeans_xdist")

S3method("print", "skmeans")

S3method("cl_validity", "skmeans")
S3method("silhouette", "skmeans")

S3method("g_tcrossprod", "default")
S3method("g_tcrossprod", "simple_triplet_matrix")
S3method("g_tcrossprod", "dgCMatrix")
S3method("g_tcrossprod", "dgTMatrix")
S3method("g_row_sums", "default")
S3method("g_row_sums", "simple_triplet_matrix")
S3method("g_row_sums", "dgCMatrix")
S3method("g_row_sums", "dgTMatrix")
S3method("g_col_sums", "default")
S3method("g_col_sums", "simple_triplet_matrix")
S3method("g_col_sums", "dgCMatrix")
S3method("g_col_sums", "dgTMatrix")
S3method("g_col_sums_by_group", "default")
S3method("g_col_sums_by_group", "simple_triplet_matrix")
S3method("g_crossprod", "default")
S3method("g_crossprod", "simple_triplet_matrix")
S3method("g_crossprod", "dgCMatrix")
S3method("g_crossprod", "dgTMatrix")


